[submodule "duckdb"]
	path = duckdb/duckdb
	url = https://github.com/duckdb/duckdb
[submodule "extension-ci-tools"]
	path = duckdb/extension-ci-tools
	url = https://github.com/duckdb/extension-ci-tools